
body {
  background-color: rgb(72, 126, 103);
}

#board {
  width: 925px;
  height: 450px;
  border: 5px solid rgb(12, 12, 12);
  background-color: rgb(134, 134, 134);
  position: relative;
}

#paddle1 {
  background-color: rgb(255, 0, 0);
  width: 12px;
  height: 100px;
  position: absolute;
  left: 37px; /* Uncomment if you want to set a "starting" position */
  top: 200px;  /* Uncomment if you want to set a "starting" position */
}

#paddle2 {
  background-color: rgb(0, 0, 255);
  width: 12px;
  height: 100px;
  position: absolute;
  left: 876px; /* Uncomment if you want to set a "starting" position */   
  top: 200px; /* Uncomment if you want to set a "starting" position */
}

#ball {
  background-color: rgb(236, 178, 69);
  /*background-color: rgb(231, 161, 30);  background-color: rgb(255, 255, 255);*/
  width: 12.5px;
  height: 12.5px;
  position: absolute;
  border-radius: 100%;
  left: 462.5px; /* Uncomment if you want to set a "starting" position */   
  top: 255px; /* Uncomment if you want to set a "starting" position */
}

#score1 {
  background-color: rgb(230, 70, 70);
  font-family: monospace;
  width: 155px;
  height: 29px;
  position: absolute;
  left: 5px; /* Uncomment if you want to set a "starting" position */   
  top: 5px; /* Uncomment if you want to set a "starting" position */
}

#score2 {
  background-color: rgb(70, 70, 180);
  font-family: monospace;
  width: 155px;
  height: 29px;
  position: absolute;
  left: 765px; /* Uncomment if you want to set a "starting" position */   
  top: 5px; /* Uncomment if you want to set a "starting" position */
}

#goal {
  background-color: rgb(233, 235, 116);
  font-family: monospace;
  width: 98px;
  height: 24px;
  position: absolute;
  left: 405px; /* Uncomment if you want to set a "starting" position */   
  top: 5px; /* Uncomment if you want to set a "starting" position */
}

#end {
  font-family: monospace;
  width: 673px;
  height: 82px;
  position: absolute;
  left: 160px; /* Uncomment if you want to set a "starting" position */   
  top: 140px; /* Uncomment if you want to set a "starting" position */
}

#again {
  background-color: rgb(117, 177, 192);
  font-family: monospace;
  width: 157px;
  height: 33px;
  position: absolute;
  left: 505px; /* Uncomment if you want to set a "starting" position */   
  top: 460px; /* Uncomment if you want to set a "starting" position */
}

#onePlay {
  background-color: rgb(117, 168, 192);
  font-family: monospace;
  width: 157px;
  height: 33px;
  position: absolute;
  left: 205px; /* Uncomment if you want to set a "starting" position */   
  top: 460px; /* Uncomment if you want to set a "starting" position */
}